{
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-env",
    "module:metro-react-native-babel-preset",
    "@babel/preset-react",
    "@babel/typescript",
    "@babel/preset-flow"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-react-jsx-source",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
