:root {
  --view-height: 100vh;
}

html,
body {
  height: var(--view-height);
  font-size: small;
}

@media screen and (max-width: 320px) {
  body,
  html {
    font-size: x-small;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: var(--view-height);
}
